<% provide(:title, "参考書一覧") %>

<h1 class="page-title"><%= yield(:title) %></h1>
<%= link_to "参考書の新規登録", new_reference_book_path, class: "open_new_form" %>

<%= render 'search_form' %>
<%= render 'reference_book' %>