<div class="group_info">
  <h1><%= "グループ名『#{yield(:title)}』" %></h1>
  <% if @group.detail.present? %>
    <p><%= "グループ詳細:#{@group.detail}" %></p>
  <% end %>

  <%= render 'users/join/join_form' %>
</div>