<li>
  <%= link_to private_group.name, private_group %>
  <% if private_group.detail.present? %>
    <div>
      【グループ説明】
      <%= private_group.detail %>
    </div>
  <% end %>
  <% if current_user?(private_group.user) %>
    <div>
      <%= link_to "グループの削除", private_group, data: { "turbo-method": :delete, turbo_confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
    </div>
  <% end %>
</li>