<%= form_with(url: login_path, scope: :session) do |f| %>

<div><%= f.hidden_field :email,    :value => "test1@net.com" %></div>
<div><%= f.hidden_field :password, :value => "password" %></div>

<%= f.submit "ゲストとしてログイン", class: "btn btn-primary" %>
<% end %>