<% provide(:title, @kinds_of_school.name) %>
<% provide(:params_id, "kinds_of_school_id") %>

<h1 class="text-center"><%= @kinds_of_school.name %></h1>

<% if logged_in? %>
  <%= render 'shared/post_form' %>
<% end %>

<%= render 'shared/post' %>