<% provide(:title, @group.name) %>

<h1 class="text-center"><%= yield(:title) %></h1>

<%= render 'link' %>
<%= render 'shared/post_form', params_id: "kinds_of_school_id" %>
<%= render 'shared/post' %>