<div id="favorite_form_<%= worksheet.id %>">
  <% if current_user.favorite_worksheet?(worksheet) %>
  <%= render 'users/favorite_worksheet/unfavorite', worksheet: worksheet %>
  <% else %>
  <%= render 'users/favorite_worksheet/favorite', worksheet: worksheet %>
  <% end %>
</div>