<% if @absents.present? %>

  <div class="show_absent">

    <table>
      <thead>
        <tr>
          <th colspan="2">各科目の欠時数</th>
        </tr>
        <tr>
          <th>科目名</th>
          <th>欠時数</th>
        </tr>
      </thead>
      <tbody>

        <% @absents.each do |course, absents| %>

          <tr>
            <td><%= course %></td>
            <td><%= absents %></td>
          </tr>

        <% end %>

      </tbody>
    </table>

  </div>

<% end %>