<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>

<pre>
  <strong>プロフィール</strong><br>
  <%= @user.profile %>
  <strong>校種</strong><br>
  <strong>担当教科</strong><br>
  <strong>部活動</strong><br>
  <strong><a href="#">フォロー</a></strong><br>
  <strong><a href="#">フォワー</a></strong><br>
</pre>