<% if @messages %>

  <div class="messages">
    <p><%= "『#{@messages}』" %></p>
  </div>
  
<% end %>

<% if flash[:danger] %>

  <div class="messages error_messages">
    <p><%= "『#{flash[:danger]}』" %></p>
  </div>
  
<% end %>

<% if flash[:success] %>

  <div class="messages success_messages">
    <p><%= "『#{flash[:success]}』" %></p>
  </div>

<% end %>