<% @student_size = flash[:student_size] || 32 %>
<% @group_size   = flash[:group_size] || 4 %>

<% provide(:title, "掃除当番表(自動生成)") %>
<h1 class="text-center"><%= yield(:title) %></h1>

<div class="cleaning_duty">

  <%= render 'group_list' %>

  <%= render 'student_list' %>

</div>