// @import "bootstrap-sprockets";
// @import "bootstrap";

// 共通部分
html {
  font-size: 100%;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}
a {
  text-decoration: none;
  color: #432;
  padding: 10px;
  &:hover {
    color: #0bd;
  }
}
img {
  max-width: 100%;
}
.contants {
  display: flex;
  justify-content: space-between;
  aside {
    width: 20%;
  }
  main {
    width: 80%;
  }
}
.wrapper {
  display: flex;
  justify-content: space-between;
}

// ボタン
.button {
  color: #fff;
  background: #5876a3;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  line-height: 1;
  text-align: center;
  &:hover {
    color: #fff;
    opacity: .8;
  }
}
.buttons {
  display: flex;
  height: 36px;
  .edit_button,
  .delete_button {
    width: 200px;
    font-size: 14px;
    height: 100%;
  }
  .delete_button {
    margin: 0 10px;
    background: #fff;
    border: 1px #000 solid;
    color: #000;
    &:hover {
      color: #ff3300;
      border: 1px#ff3300 solid;
      opacity: 1;
    }
  }
}

// 見出し
.page-title {
  font-size: 4rem;
  font-family: 'philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

// 新規作成ページの表示
.open_new_form {
  display: block;
  width: 30%;
  margin-left: auto;
  text-align: center;
  justify-content: flex-end;
  font-size: 1.5rem;
  text-decoration: none;
  color: #432;
  cursor: pointer;
  &:hover {
    color: #0bd;
  }
}

// フォーム
form {
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  div {
    margin-bottom: 14px;
  }
  select {
    border: 1px #ccc solid;
    border-radius: 5px;
    padding: 1px;
    display: block;
    width: 100%;
    text-align: center;
  }
}
label {
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
}
textarea {
  border: 1px solid #ccc;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px #ccc solid;
  border-radius: 5px;
  padding: 1px;
  display: block;
  width: 100%;
  &:disabled {
    background: #ccc;
  }
}
input[type="submit"] {
  cursor: pointer;
  display: block;
  width: 60%;
  margin: 30px auto;
}

// メッセージ
.messages {
  padding: 12px;
  font-size: 24px;
  text-align: center;
  p {
    margin: 0;
  }
}
.error_messages {
  color: red;
}
.success_messages {
  color: limegreen;
}

// ページネーション
.pagination {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  .page-item {
    width: 10%;
    a {
      width: 100%;
      display: block;
    }
  }
  .active {
    background-color: #f3f3f3;
  }
}

// モーダルウィンドウ
#close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
}
#mask {
  background: rgba(0, 0, 0, .4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
#modal {
  background: #fff;
  width: 1000px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  margin: 0 auto;
  transition: transform .4s;
  z-index: 2;
}
#mask.hidden {
  display: none;
}
#modal.hidden {
  transform: translate(0, -500px);
}

// お気に入りボタン
.favorite_form,
.unfavorite_form {
  margin: 0;
  padding: 0;
  width: 200px;
  font-size: 14px;
  input {
    width: 100%;
    margin: 0;
  }
}
.favorite_form {
  input {
    height: 36px;
  }
}
.unfavorite_form {
  input {
    background: #fff;
    border: 1px #000 solid;
    color: #000;
    &:hover {
      color: #ff3300;
      border: 1px#ff3300 solid;
      opacity: 1;
    }
  }
}

// header
.page-header {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  min-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

.logo {
  width: 210px;
  margin-top: 14px;
}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
  li {
    margin-left: 36px;
  }
  a {
    color: #432;
  }
  a:hover {
    color: #0bd;
  }
}

// サイドバー
aside {
  font-size: 16px;
  margin-top: 20px;
  .link-list {
    list-style: none;
    li {
      border-bottom: 1px #ddd solid;
      width: 80%;
      a {
        color: #432;
        padding: 10px;
        display: block;
        width: 90%;
        margin: 0 auto;
      }
      a:hover {
        color: #0bd;
      }
    }
  }
}

// ログインページ
.login-content {
  margin-top: 5%;
  h2, p {
    text-align: center;
  }
  p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
  }
  .login-form {
    border: solid;
  }
  .checkbox {
    display: flex;
    justify-content: center;
    label {
      margin: 0 0 0 5px;
    }
  }
}

// ユーザー詳細画面
.user-profile {
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
  .button {
    font-size: 14px;
    margin: 0;
    width: 200px;
  }
  .delete_button {
    background: #fff;
    border: 1px #000 solid;
    color: #000;
    margin-bottom: 10px;
    &:hover {
      color: #ff3300;
      border: 1px#ff3300 solid;
      opacity: 1;
    }
  }
  .user-name {
    margin-left: 200px;
    line-height: 150px;
    font-size: 5rem;
  }
  .user-image {
    position: absolute;
    top: 0;
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 1px #000 solid;
      object-fit: cover;
    }
  }
  .delete_image {
    padding: 0;
    margin: 0;
    input {
      font-size: 14px;
      height: 100%;
    }
  }
  .profile {
    padding: 10px;
    min-height: 150px;
    margin-bottom: 10px;
    h2 {
      font-size: 2rem;
    }
  }
  .following {
    display: flex;
    font-size: 1.25rem;
  }
  .status {
    font-size: 1.25rem;
    display: flex;
    .kinds-of-school,
    .subject,
    .club {
      padding: 10px;
    }
  }
  #following_form,
  #unfollow_form {
    margin: 0;
    padding: 0;
    input {
      width: 50%;
      margin-left: 0;
    }
  }
  #unfollow_form {
    input {
      background: #fff;
      border: 1px #000 solid;
      color: #000;
      &:hover {
        color: #ff3300;
        border: 1px#ff3300 solid;
        opacity: 1;
      }
    }
  }
}
.user-link {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  text-align: center;
  a {
    width: 25%;
    border-bottom: 1px #000 solid;
  }
  .active {
    font-weight: bold;
  }
}

// ユーザー一覧
.users {
  list-style: none;
  margin: 10px 0;
  li {
    border-bottom: 1px #ddd solid;
    padding: 10px 0;
  }
}
.user-icon {
  position: relative;
  font: 1.2rem;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px #000 solid;
    object-fit: cover;
    position: absolute;
    top: 0;
  }
  p {
    padding: 10px;
  }
  div {
    display: flex;
    div {
      padding: 10px;
    }
  }
  a {
    display: block;
    width: 30%;
    padding: 10px;
    font-size: 1.2rem;
    margin-left: 60px;
  }
}

// プライベートグループ一覧
.private_groups {
  list-style: none;
  margin: 10px 0;
  li {
    border-bottom: 1px #ddd solid;
    padding: 10px 0;
    a {
      display: block;
      padding: 10px;
      font-size: 1.2rem;
    }
  }
}

// 書籍一覧
.reference_books {
  list-style: none;
  margin: 10px 0;
  li {
    border-bottom: 1px #ddd solid;
    padding: 10px 0;
    a {
      display: block;
      padding: 10px;
      font-size: 1.2rem;
    }
  }
}

// ワークシート一覧
.worksheets {
  list-style: none;
  margin: 10px 0;
  li {
    border-bottom: 1px #ddd solid;
    padding: 10px 0;
    .worksheet-title {
      font-size: 1.2rem;
    }
    .worksheet-detail {
      font-size: 1.1rem;
    }
    a {
      display: block;
      padding: 10px 0;
      font-size: 1.2rem;
    }
  }
}

// 出版社一覧
.publishers {
  list-style: none;
  margin: 10px 0;
  li {
    border-bottom: 1px #ddd solid;
    padding: 10px 0;
    a {
      display: block;
      padding: 10px 0;
      font-size: 1.2rem;
    }
  }
}

// 投稿一覧
.posts {
  list-style: none;
  margin: 10px 0;
  font-size: 1.2rem;
  li {
    border-bottom: 1px #ddd solid;
    padding: 10px 0;
    a {
      display: block;
      padding: 10px 0;
    }
  }
}

// 検索フォーム
.search_form {
  border: 1px solid #ddd;
  margin: 30px auto;
  .hidden {
    display: none;
  }
  input::placeholder {
    text-align: center;
  }
}

// グループ詳細画面
.subject_link,
.club_link,
.kinds_of_school_link,
.private_group_link {
  display: flex;
  text-align: center;
  font-size: 1.3rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  div {
    width: 100%;
    padding: 10px;
  }
  .active {
    font-weight: bold;
  }
}
.group_info {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 30px;
  form {
    padding: 0;
    margin: 0;
    input {
      margin: 10px;
    }
  }
}
#join_form {
  .leave_form {
    input {
      background: #fff;
      border: 1px #000 solid;
      color: #000;
      &:hover {
        color: #ff3300;
        border: 1px#ff3300 solid;
        opacity: 1;
      }
    }
  }
}

// 座席の自動作成
// 掃除担当場所の自動作成
// 欠時の自動計算
.prepare-seats,
.create-groups {
  width: 500px;
  border: 1px double #ddd;
  padding: 50px;
  margin: 36px auto 0;
  h2 {
    text-align: center;
  }
  label {
    select {
      width: 100%;
      text-align: center;
      border: 1px solid #ddd;
      font-size: 16px;
      padding: 4px;
      cursor: pointer;
    }
  }
}
.prepare-seats button,
.seats button,
.create-groups button,
.cleaning-duty button,
.student-list-btn button,
.class-schedule .button,
.calc-absent button,
.class-schedule button {
  all:unset;
  width: 100%;
  background: #08c;
  border-radius: 8px;
  color: white;
  text-align: center;
  padding: 8px 0;
  margin-top: 16px;
  cursor: pointer;
  &:hover {
    opacity: .8;
  }
  &:active {
    opacity: .6;
  }
}
.seats {
  width: 100%;
  margin: 16px auto 0;
  padding: 0 50px;
  table {
    margin: 0 auto;
    td {
      border: 1px solid #000;
      text-align: center;
      vertical-align: top;
      height: 100px;
      label {
        font-size: 14px;
        margin: 0;
        height: 25%;
        input {
          margin-left: 4px;
        }
      }
      .student-name {
        height: 50%;
        border: none;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        text-align: center;
      }
    }
  }
  .hidden {
    display: none;
  }
}
.create_seats {
  h3 {
    height: 80px;
    text-align: center;
    padding: 10px;
    margin: 0;
    border: solid;
  }
  p {
    height: 80px;
    text-align: center;
    margin: 0;
    border: solid;
  }
  table {
    border: solid;
    width: 100%;
    text-align: center;
  }
  td {
    border: solid;
  }
  .shuffle_btn {
    margin: 10px 0;
  }
}
.cleaning-duty,
.student-list {
  width: 500px;
  margin: 36px auto 0;
  table {
    width: 100%;
    border-spacing: 0;
    th, td {
      border: 1px solid #000;
      height: 60px;
      width: calc(100% / 3);
      text-align: center;
    }
    .th-main {
      border-bottom: none;
    }
    .th-1, .th-2 {
      border-right: none;
    }
    .td-1, .td-2 {
      border-right: none;
    }
    .td-1, .td-2, .td-3 {
      border-top: none;
    }
    input {
      padding: 4px;
      text-align: center;
    }
    select {
      display: block;
      width: 100%;
      text-align: center;
      border: 1px solid #ddd;
      font-size: 16px;
      padding: 4px;
      cursor: pointer;
    }
    .group-even {
      background: #FFFFEE	;
    }
    .group-odd {
      background: #FFFFDD;
    }
  }
  .hidden {
    display: none;
  }
}
.student-list-btn {
  h3 {
    margin-top: 36px;
    padding: 16px;
    text-align: center;
    font-size: 1.5rem;
  }
}
.class-schedule {
  width: 90%;
  margin: 36px auto 0;
  table {
    width: 100%;
    border-spacing: 0;
    th, td {
      border: 1px solid #000;
      height: 60px;
      width: calc(100% / 5);
      text-align: center;
    }
    .th-main {
      border-bottom: none;
    }
    .th-1, .th-2, .th-3, .th-4 {
      border-right: none;
    }
    .td-1, .td-2, .td-3, .td-4 {
      border-right: none;
    }
    .td-1, .td-2, .td-3, .td-4, .td-5 {
      border-top: none;
    }
    input {
      padding: 4px;
      text-align: center;
    }
    select {
      display: block;
      width: 100%;
      text-align: center;
      border: 1px solid #ddd;
      font-size: 16px;
      padding: 4px;
      cursor: pointer;
    }
    .group-even {
      background: #FFFFEE	;
    }
    .group-odd {
      background: #FFFFDD;
    }
  }
  .hidden {
    display: none;
  }
  form {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
.absent-table,
.calc-absent {
  width: 90%;
  margin: 36px auto 0;
  table {
    width: 100%;
    border-spacing: 0;
    th, td {
      border: 1px solid #000;
      height: 60px;
      width: calc(100% / 2);
      text-align: center;
    }
    .th-main {
      border-bottom: none;
    }
    .th-1, .td-1 {
      border-right: none;
    }
    .td-1, .td-2 {
      border-top: none;
    }
    select {
      display: block;
      width: 100%;
      text-align: center;
      border: 1px solid #ddd;
      font-size: 16px;
      padding: 4px;
      cursor: pointer;
    }
  }
}
.hidden {
  display: none;
}





