<% if flash[:col].present? && flash[:row].present? %>
  <% @col = flash[:col].to_i %>
  <% @row = flash[:row].to_i %>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="<%= @col %>">
        <h3>席替えの自動生成</h3>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @row.times do |i| %>
      <tr>
        <% @col.times do |j| %>
          <td>
            <p>
              テスト<%="#{i+1}-#{j+1}"%>
            </p>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>