<div class="test">

  <% if flash[:col].present? && flash[:row].present? %>
    <% @col   = flash[:col].to_i %>
    <% @row   = flash[:row].to_i %>
  <% end %>

  <% if flash[:names].present? %>
    <% @names = flash[:names] %>
  <% end %>

  <%= render 'create_seat_form' %>

  <%= render 'add_data_form' %>

  <%= render 'delete_data_form' %>
  
</div>