<div class="test">

  <% if flash[:col].present? && flash[:row].present? %>
    <% @col = flash[:col] %>
    <% @row = flash[:row] %>
  <% end %>

  <% if flash[:names].present? %>
    <% @names = flash[:names] %>
  <% end %>

  <%= render 'seat_form' %>
  
</div>