<div id="favorite_form_<%= book.id %>">
<% if current_user.favorite_book?(book) %>
  <%= render 'users/favorite_book/unfavorite', book: book %>
<% else %>
  <%= render 'users/favorite_book/favorite', book: book %>
<% end %>
</div>