<header>
  <div class="container">
    <%= link_to "アプリ名", '#' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ログイン", login_path %></li>
        <li><%= link_to "新規登録", signup_path %></li>
      </ul>
    </nav>
  </div>
</header>